@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
#about {
  padding: 48px 0;
}
#about .about__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 35px;
}
#about .about__container h1 {
  color: #2c2d2e;
  text-align: center;
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
}
#about .about__container h1 span {
  color: #ef7c00;
  font-feature-settings: "clig" off, "liga" off;
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
}
#about .about__container .body {
  display: flex;
  align-items: center;
  gap: 30px;
}
#about .about__container .body .content {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
#about .about__container .body .content p {
  color: #2c2d2e;
  /* fontBody */
  font-family: Montserrat;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 133.333% */
}
#about .about__container .body .video {
  width: 50%;
}
#about .about__container .body .video iframe {
  width: 100%;
  border-radius: 5px;
  border: none;
}
@media (max-width: 1000px) {
  #about .about__container .body .content {
    gap: 10px;
  }
  #about .about__container .body .video {
    height: 100%;
  }
}
@media (max-width: 850px) {
  #about .about__container h1 {
    font-size: 30px;
  }
  #about .about__container h1 span {
    font-size: 30px;
  }
  #about .about__container .body {
    flex-direction: column;
  }
  #about .about__container .body .content {
    width: 100%;
  }
  #about .about__container .body .video {
    width: 100%;
  }
}
@media (max-width: 500px) {
  #about .about__container {
    gap: 25px;
  }
  #about .about__container h1 {
    font-size: 25px;
  }
  #about .about__container h1 span {
    font-size: 25px;
  }
  #about .about__container .body {
    gap: 20px;
  }
  #about .about__container .body .video iframe {
    height: 200px;
  }
  #about .about__container .body .content p {
    font-size: 14px;
  }
}
@media (max-width: 400px) {
  #about .about__container h1 {
    font-size: 22px;
  }
}