@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
.react-tabs {
  margin-bottom: 100px;
}
.react-tabs .react-tabs__tab-list {
  padding: 16px 0;
  margin-bottom: 32px;
  display: flex;
  justify-content: center;
  gap: 25px;
}
.react-tabs .react-tabs__tab-list li {
  outline: none;
  cursor: pointer;
  padding: 12px 22px;
  border-radius: 61px;
  border: 1px solid var(--color-border, rgba(0, 16, 61, 0.12));
  color: #ef7c00;
  text-align: center;
  /* fontFootnote */
  font-family: Montserrat;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 13px; /* 100% */
  transition: 0.4s;
}
.react-tabs .react-tabs__tab-list li:hover {
  background-color: #ef7c00;
  color: white;
}
.react-tabs .react-tabs__tab-list .react-tabs__tab--selected {
  background-color: #ef7c00;
  color: white;
}
.react-tabs .react-tabs__tab-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 25px;
}
.react-tabs .react-tabs__tab-panel img {
  border-radius: 5px;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  cursor: pointer;
  transition: 0.5s;
}
.react-tabs .react-tabs__tab-panel img:hover {
  box-shadow: rgba(239, 123, 0, 0.1921568627) 0px 50px 100px -20px, #ef7b00 0px 30px 60px -30px;
  transform: scale(1.1);
}
@media (max-width: 1280px) {
  .react-tabs .react-tabs__tab-panel img {
    width: 175px;
  }
}
@media (max-width: 1030px) {
  .react-tabs .react-tabs__tab-panel {
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 50px;
  }
}
@media (max-width: 768px) {
  .react-tabs .react-tabs__tab-list li {
    padding: 10px;
  }
  .react-tabs .react-tabs__tab-panel {
    gap: 20px;
    justify-content: space-evenly;
  }
  .react-tabs .react-tabs__tab-panel img {
    width: 150px;
  }
}
@media (max-width: 600px) {
  .react-tabs {
    margin-bottom: 50px;
  }
  .react-tabs .react-tabs__tab-list {
    gap: 15px;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
  .react-tabs .react-tabs__tab-panel {
    gap: 35px;
  }
}
@media (max-width: 400px) {
  .react-tabs .react-tabs__tab-list {
    gap: 15px;
    flex-direction: column;
  }
}