.dark {
  background-color: rgb(18, 22, 30);

  * {
    color: white !important;
  }
  li {
    border: none !important;
  }
  header {
    background-color: rgb(28, 34, 48);

    * {
      color: white !important;
    }
    *:hover {
      color: #ef7c00 !important;
    }
    .header__container {
      .menu {
        ul {
          .menu__item {
            &:hover {
              .menu__link {
                color: #ef7c00 !important;
              }
            }
          }
        }
      }
    }
  }
}
